# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
__snapshots__

# production
/build
/.vscode
.idea/
.tern-port

__snapshots__
# package-lock.json
